<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.4.0" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.33.1" targetFramework="net462" />
  <package id="Grpc.Core.Api" version="2.71.0" targetFramework="net462" />
  <package id="Grpc.Net.Client" version="2.71.0" targetFramework="net462" />
  <package id="Grpc.Net.Common" version="2.71.0" targetFramework="net462" />
  <package id="LM-Kit.NET" version="2025.12.1" targetFramework="net462" />
  <package id="LM-Kit.NET.Backend.Cuda13.Deps.Windows" version="2025.9.1" targetFramework="net462" />
  <package id="LM-Kit.NET.Backend.Cuda13.Deps.Windows.Part0" version="2025.9.1" targetFramework="net462" />
  <package id="LM-Kit.NET.Backend.Cuda13.Deps.Windows.Part1" version="2025.9.1" targetFramework="net462" />
  <package id="LM-Kit.NET.Backend.Cuda13.Windows" version="2025.12.1" targetFramework="net462" />
  <package id="LM-Kit.NET.Data.Connectors.Qdrant" version="2025.7.1" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.Memory" version="10.0.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.Numerics" version="10.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net462" />
  <package id="Qdrant.Client" version="1.16.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net462" />
  <package id="System.Interactive.Async" version="7.0.0" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net462" />
  <package id="System.Linq.Async" version="7.0.0" targetFramework="net462" />
  <package id="System.Linq.AsyncEnumerable" version="10.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.6.3" targetFramework="net462" />
  <package id="System.Net.Http.WinHttpHandler" version="10.0.0" targetFramework="net462" />
  <package id="System.Numerics.Tensors" version="10.0.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="10.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="10.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net462" />
</packages>